<!-- <header>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"><img src="/images/logo.svg" alt="wikiMap" height="40px"></a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Favorites
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <ul>
            <li style="display: flex; justify-content: space-between"><span style="margin-right: 3rem;"><i class="fas fa-location-arrow"></i>&nbsp;some map</span> <a href=""><i class="fas fa-heart"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Collapsible Group Item #2
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Collapsible Group Item #3
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>
</header>
 -->

<div class="d-flex flex-column bd-highlight mb-3">
  <!-- search -->
	<div class="p-2 bd-highlight">
		<nav class="navbar navbar-light bg-light">
			<form class="form-inline">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</nav>
	</div>


	<!-- <h3 class="btn btn-secondary btn-lg btn-block">Favorites</h3> -->
	<!-- <button type="button" class="btn btn-secondary btn-lg btn-block">Favorites</button> -->
  <div class="p-2 bd-highlight">
		<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-light btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          My Favorites
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
				<ul class="list-group">
					<li class="list-group-item active">Map</li>
					<li class="list-group-item">Map</li>
					<li class="list-group-item">Map</li>
					<li class="list-group-item">Map</li>
					<li class="list-group-item">Map</li>
					<li class="list-group-item">Map</li>
				</ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
				<button class="btn btn-light btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
					My Maps
				</button>
			</h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
				<ul class="list-group">
					<li class="list-group-item active">Map</li>
					<li class="list-group-item">Map</li>
					<li class="list-group-item">Map</li>
					<li class="list-group-item">Map</li>
					<li class="list-group-item">Map</li>
					<li class="list-group-item">Map</li>
				</ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
				<button class="btn btn-light btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
					My Account
				</button>
			</h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
				<ul class="list-group">
					<li class="list-group-item active">Map</li>
					<li class="list-group-item">Map</li>
					<li class="list-group-item">Map</li>
					<li class="list-group-item">Map</li>
					<li class="list-group-item">Map</li>
					<li class="list-group-item">Map</li>
				</ul>
      </div>
    </div>
  </div>
</div>
	</div>

	<!-- footer with icons -->
	<div class="mt-auto p-2 bd-highlight">
		<div class="d-flex justify-content-around">
			<a class="btn btn-dark" href="#" role="button"><i class="fas fa-info"></i></a>
			<a class="btn btn-dark" href="#" role="button"><i class="fas fa-code"></i></i></a>
			<a class="btn btn-dark" href="#" role="button"><i class="fas fa-question"></i></a>
		</div>
	</div>

</div>
